name: Build (and Deploy) FHIR packages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main", "autobuild"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  id-token: write
  contents: read
  packages: write
  pages: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "publish"
  cancel-in-progress: false


jobs:
  build:
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
      - name: Build and push to local registry
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: localhost:5000/gidsopenstandaarden/fhir-builder:latest
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        env:
          FHIR_PASSWORD: ${{ secrets.FHIR_PASSWORD }}
          FHIR_EMAIL: ${{ secrets.FHIR_EMAIL }}
        run: |
          mkdir -p ./output
          docker run -v ${PWD}:/src -e FHIR_PASSWORD=${FHIR_PASSWORD} -e FHIR_EMAIL=${FHIR_EMAIL}  localhost:5000/gidsopenstandaarden/fhir-builder:latest
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './packages/*.tgz'
